[Unit]
Description=DDOS-Notifier
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/etc/ddos-notifier/
ExecStart=/bin/bash checker.sh
Restart=always
RestartSec=3
MemoryMax=100M

[Install]
WantedBy=multi-user.target